.scroll-pane, .scroll-pane > * {
    -fx-background-color: transparent;
}

.thumbnail:hover{
    -fx-opacity: 0.50;
}

.thumbnail{
    -fx-background-color:ccc;
    -fx-background-insets:5;
    -fx-background-radius:5;
}

.combo-box.choisebox{
    -fx-background-color: 
        -fx-control-inner-background,
        #BCBCBC,
        linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);
    -fx-background-radius: 15;
}

.combo-box.choisebox .list-cell{
    -fx-alignment: center;
}

.combo-box.choisebox .combo-box-popup .list-view .scroll-bar:vertical .increment-arrow,
.combo-box.choisebox .combo-box-popup .list-view .scroll-bar:vertical .decrement-arrow,
.combo-box.choisebox .combo-box-popup .list-view .scroll-bar:vertical .increment-button,
.combo-box.choisebox .combo-box-popup .list-view .scroll-bar:vertical .decrement-button {
    -fx-padding:0;
}

.combo-box.choisebox .combo-box-popup .list-view{
    -fx-background-radius:15;
}

.combo-box.choisebox .combo-box-popup .list-view .list-cell:empty{
    -fx-padding:0;
}

.combo-box.choisebox .combo-box-popup .list-view .list-cell{
    -fx-background-radius:15;
    -fx-cell-size:25;
}

#searchbox{
    -fx-background-radius: 15;
    -fx-padding: 4 25 4 7;
}